/* App.css */

:root {
    --red: #DD4E12;
    --orange: #E37930;
    --gray-dark: #696562;
    --gray-light: #D4D4D4;
    --white: #F5F5F5;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--gray-light);
    color: var(--gray-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container-md {
    background: #fff;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .login {
    margin-top: 30px;
    font-size: 14px;
    color: #666;
  }

  .button-form button{
    background-color: #FF9900;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
